.navContainer {
  width: 100%;
  height: 60px;
  padding-bottom: 1rem;
  background: linear-gradient(to right bottom, #fff);
  border: 2px solid black;
  margin-bottom: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  display: block;
  height: 100%;
  margin-right: 35px;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  color: #734;
}
