.headerContainer {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2c2c48da;
}

.title {
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
