.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2c2c48da;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px;
}

.text {
  color: white;
  font-size: 1rem;
}
